body{
    font-family: "Raleway";
    margin: 0px;   
}
.margLeft{
    margin-left: 50px;
}
.fColonne{
    flex-direction: column;
}
.fWrap{
    display: flex;
    flex-flow: wrap;
}
.fSpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}
.fCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fSpaceEven{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fStart{
    justify-content: flex-start;
    align-content: flex-start;
}
.fSpaceAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.Bleufoncé{
    color: #0065fc;
}
.Bleuclair{
    color: #DEEBFF;
}
.backbleuclair{
    background-color: #DEEBFF;
}
.backGris{
    background-color: #F2F2F2;
    width: 100%;
}
.BoldGras{
    font-weight: bolder;
}
.black{
    color: black;
}
ul {
    list-style-type: none;
    padding: 20px;
  }
a {
    text-decoration: none;
    color: black;
  }
/* Nav */ 
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#imgLogo{
    height: 60px;
    margin-left: 50px;
}
nav {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
nav ul {
    display: flex;
    padding: 20px;
  }
  nav li a {
    padding: 35px;
  }
  #signIn {
    text-decoration: none;
    color: #0065fc;
    margin-right: 50px;
  }
  #signIn:hover {
    border-bottom: 2px #0065fc solid;
    border-top: none;
    
  }
  nav a:hover {
    color: #0065fc;
    border-top: 2px #0065fc solid;
  }
/* Barre de recherche */
.bordureSearch{
    width: 420px;
    border-radius: 10px;
}
h1{
    margin: 0px;
}
.NoBorder{
    border: 0px;
    margin: 0px;
}
.MargingBot{
    margin-bottom: 20px;
}

#search{
    width: 235px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    border: #F2F2F2 1px solid;
    

}
#IconeSize{
    width: 55px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
}
#ButtonSearch{
    width: 135px;
    height: 50px;
    background-color: #0065fc;
    cursor: pointer;
    font-family: "Raleway";
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    border: #0065fc 1px solid;
}
#ButtonSearch:hover{
    background-color: #DEEBFF;
    color: black;
    font-weight: bolder;
    border: #DEEBFF 2px solid;
}
.iconeRecherche{
    display: none;
}
/* Filtres */ 
.BoiteFiltres{
    flex-wrap: wrap;
    width: 900px;
    align-items: center;

}
.IconeFiltreSize{
    width: 50px;
    height: 53px;
    border-radius: 25px 25px 25px 25px;
}
.Filtre{
        
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    height: 30%;
    margin-left: 25px;
}
.TextFiltre{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;

}
.Filtre:hover {
    background-color: #0065fc;
    color: #F2F2F2;
}
.padTopFiltre{
    padding-top: 30px;
}
h2{
    font-size: 18px;
}

/* Info */
.infoIcone{
    font-size: x-small;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color: #0065fc;
    border-radius: 50%;
    border: 2px #F2F2F2 solid;
    
    
}
.infoPara{
    font-size: 80%;
    margin-left: 0px;
}
.contInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}
/* Hebergement */
.h3Heb{
    display: flex;
    font-size: 160%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
}
.pHeb{
    margin-left: 80px;
    margin-bottom: 40px;
    font-size: 120%;
}
.contHeb{
    width: 65%;
    height: 100%;
    border-radius: 25px 25px 25px 25px;
    margin-right: 0px;
    margin-top: 40px;
    left: 0px; 
}
.pHebText{
    font-size: 80%;
}
.imgBoite{
    display: flexbox;
    width: 27%;
    height: 200px;
    background-color: white;
    padding: 1%;
    border-radius: 10%;
    min-width: 255px;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
}
.imgText{
    width: 100%;
    height:50%;
}
.padText{
    padding-bottom: 5px;
}
.imgTextPos{
    margin-top: 15px;
    margin-left: 20px;
}
.imgHeb{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.etoileHeb{
    margin-top: 20px;
}
/* Populaire */
.boitePop{
    width: 30%;
    height: 700px;
    background-color: #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    margin-right: 30px;
    margin-top: 40px;   
}
.ChildBoitePop{
    display: grid;
    grid-template-columns: 1fr;
}
.imgBoitePop{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: 135px;
    background-color: white;
    padding: 1%;
    border-radius: 25px 25px 25px 25px;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.imgPop{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    justify-content: start;
}
.imgPop2{
    width: 52%;
}
.marStars{
    margin-left: -20px;
}
.imgTextPop{
    width: 100%;
    height:100%;
    display: inline-flex;
}
.imgTextPosPop{
    display: inline-flex;
    justify-content: flex-start;
}
.h3Pop{
    display: flex;
    font-size: 1.8rem;
    margin-left: -30px;
    padding-bottom: 10px;

}
.pPopText{
    font-size: 80%;
    margin-top: -20px;
}
.padTextPop{
    padding-left: 20px;
    margin-top: -20px;
   
}
.etoilePop{
    display: inline-flex;
    justify-content: start;
    margin-left: -55px;
    margin-top: 25px;
    
}
.iconePop{
    
    justify-content: flex-end;
}
/* activités */ 
.conAct{
    width: 100%;
    padding-bottom: 30px;
}
.BlockPhotoAct{
    display: flex;
    justify-content: space-between;
    max-height: 450px;
}
#bloc1A, #bloc1B {
    display: flex;
}
.block2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.imgBoiteAct{
    width: 92%;
    height: 100%;
    
}
#Pomegues{
    
    width: 92%;
    height: 55%;
}
#Frioule{
    width: 92%;
    height: 35%;
    
}
.imgBoiteSmall{
    display: flex;
    width: 92%;
    height: 45%;
}
.imgTextActSmall{
    width: 100%;
    height: 75%;
}
.imgTextActBig{
    width: 100%;
    height: 85%;
}
.imgAct{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.imgTextPosAct{
    margin-left: 5%;
}
.decoBoiteAct{
    border-radius: 25px 25px 25px 25px;
    box-shadow: 5px 5px 5px #d1d1d1;
}

/* footer */
footer{
    margin: 0px;
    width: 100%;
    margin-top: 50px;
}
.proposFoot{
    margin-left: 60px;
}
.pFoot{
    font-size: small;
}
.contFoot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* responsive */ 
@media screen and (max-width: 1516px){
    .boitePop{
        min-height: 944px;
    }
}
@media screen and (max-width: 1350px){
    .boitePop{
        order: -1;
        width: 100%;
        padding: 0px;
        min-height: max-content;
    }
    .contHeb{
        width: 100%;
    }
}
@media screen and (max-width: 900px){
    .contHeb{
        background: none;
    }
    .imgBoite{
        border-radius: 25px 25px 25px 25px;
        box-shadow: 5px 5px 5px #d1d1d1;
    }
    .BlockPhotoAct{
        flex-direction: column;
        max-height: 100%;
        justify-content: space-between;
    }
    #bloc1A, #bloc1B{
        flex-direction: column;
    }
    .block2{
        flex-direction: row; 
    }
    #Pomegues, #Frioule{
        height: 200px;
        width: 48%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .imgBoiteAct{
        width: 98%;
        height: 200px;
    }
    .imgBoiteSmall{
        height: 200px;
        width: 48%;
        margin-top: 20px;
    }
    .imgTextActBig{
        height: 75%;
    }
    .imgBoite{
        width: 40%;
    }
    
}
@media screen and (max-width: 680px){
    .imgBoite{
        width: 90%;
    }
    .imgText{
        height: 60%;
    }
    .margLeft{
        margin: 0px;
    }
    .boitePop{
        border-radius: 0px;
        width: 100%;
        margin: 0px;
    }
    .imgBoitePop{
        width: 90%;
        margin-left: 20px;
        padding: 0px;
    }
    h1{
        margin: 20px;
    }
    .RepMar{
        margin-left: 20px;
    }
    nav {
        width: 100%;
        margin: 0;
      }
      #bloc1A, #bloc1B{
        max-height: 465px;
        margin-bottom: 20px;
        margin-left: 20px;    
    }
    .etoileHeb{
        margin-top: 0px;
    }
}
@media screen and (max-width: 520px){
    #signIn{
        position: absolute;
        top: 25px;
        right: 30px;
    }
}
@media screen and (max-width: 500px){
    
    nav a:hover {
        border-top: none;
      }
      .navul{
        border-bottom: 3px solid #f2f2f2;
        
      }
      nav a:hover {
        border-bottom: 2px solid #0065fc;
        padding-bottom: 20px;
      }
    header{
        display: block;
    }
    .navul {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

    }
    #ButtonSearch{
        display: none;
    }
    .iconeRecherche {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        background-color: #0065fc;
        cursor: pointer;
        color: white;
        border-radius: 15px;
        border: 2px solid #0065fc;
        width: 50px;
        height: 50px;
        margin-left: -11px;
      }
      .iconeRecherche:hover{
        background-color: #DEEBFF;
        color: black;
        font-weight: bolder;
        border: #DEEBFF 2px solid;
    }
    
    .cFiltre{
        justify-content: start;
    }
    
    .bordureSearch{
        width: 100%;
    }
    .imgBoite{
        padding: 0%;
    }
    .imgTextPos{
        margin-top: 0;

    }
    
   .BlockPhotoAct{
       display: flex;
       flex-direction: column;
   }
   .block2{
       flex-direction: column;
   }
   #Pomegues, #Frioule{
       height: 200px;
       width: 90%;
       margin-top: 20px;
       margin-left: 20px;
   }
   .imgBoiteSmall{
    height: 200px;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
   }
   .imgBoiteAct{
    height: 200px;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
   }
    #bloc1A, #bloc1B{
        display: flexbox;
        flex-direction: column;
        max-height: none;
    }
    .imgTextActBig{
        height: 75%;
    }
    .contFoot{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 30px;
    }
    .proposFoot{
        margin-left: 0px;
    }
    #HebNav, #ActNav{
        margin-left: 30px;
    }
    
}
@media screen and (max-width: 425px){
    .bordureSearch{
        margin-left: -25px;
    }
    #signIn{position: absolute;
        top: 25px;
        right: 30px;
    }
    .contInfo{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 360px){
    .bordureSearch{
        margin: 0px;
    }
    #signIn{
        right: 5px;
    }
    .cFiltre{
        flex-direction: column;
    }
    .contInfo{
        justify-content:baseline;
    }
    .br{
        display: none;
    }
    .boitePop{
        width: 100%;
    }
    .h3Pop{
        margin-left: 10px;
    }
    .bordureSearch{
        margin-left: 10px;
    }
}
    



