body{
    font-family: "Raleway";
    margin: 0px;   
}
.margLeft{
    margin-left: 50px;
}
.fColonne{
    display: flex;
    flex-direction: column;
}
.fWrap{
    display: flex;
    flex-flow: wrap;
}
.fSpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}
.fColSpaceBetween{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.fCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fColCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fSpaceEven{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fStart{
    justify-content: flex-start;
    align-content: flex-start;
}
.fSpaceAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.fColSpaceAround{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.Bleufoncé{
    color: #0065fc;
}
.Bleuclair{
    color: #DEEBFF;
}
.backbleuclair{
    background-color: #DEEBFF;
}
.backGris{
    background-color: #F2F2F2;
    width: 100%;
}
.BoldGras{
    font-weight: bolder;
}
.black{
    color: black;
}
/* Nav */ 

ul{
    list-style: none;
}
.nodeco{
    text-decoration: none;
}
.divNav{
    width: 400px;
    margin-right: 40px;
    height: 50px;
}
.SizeNav{
    font-size: 105%;
}
#SignIn{
    list-style-type: none;
    white-space: nowrap;
}
#SignIn:hover{
    border-bottom: 2px #0065fc solid;
}
.pNav{
    font-size: large;
}
.pNav:hover{
    
    border-top: 2px #0065fc solid;
    color: #0065fc;
    font-weight: bold;
}
#imgLogo{
    height: 60px;
      margin-left: 50px;
      cursor: pointer;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* Barre de recherche */
.bordureSearch{
    width: 420px;
    border-radius: 10px;
}
.NoBorder{
    border: 0px;
    margin: 0px;
}
.MargingBot{
    margin-bottom: 20px;
}

#search{
    width: 235px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    border: #F2F2F2 1px solid;

}
#IconeSize{
    width: 55px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
}
#ButtonSearch{
    width: 135px;
    height: 50px;
    background-color: #0065fc;
    cursor: pointer;
    font-family: "Raleway";
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    border: #F2F2F2 1px solid;
}
#ButtonSearch:hover{
    background-color: #DEEBFF;
    color: black;
    font-weight: bolder;
    border: #F2F2F2 2px solid;
}
.iconeRecherche{
    display: none;
}
/* Filtres */ 
.BoiteFiltres{
    flex-wrap: wrap;
    width: 900px;
    align-items: center;

}
.IconeFiltreSize{
    width: 50px;
    height: 53px;
    border-radius: 25px 25px 25px 25px;
}
.Filtre{
        
    border: 2px solid #deebff;
    border-radius: 30px;
    height: 30%;
    margin-left: 25px;
}
.TextFiltre{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;

}
.Filtre:hover {
    background-color: #0065fc;
    color: #F2F2F2;
}
.padTopFiltre{
    padding-top: 30px;
}
h2{
    font-size: 18px;
}

/* Info */
.infoIcone{
        
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #0065fc;
    border-radius: 30%;
    
}
.infoPara{
    font-size: 80%;
    margin-left: 0px;
}
.contInfo{
    margin-top: 40px;
}
/* Hebergement */
.h3Heb{
    display: flex;
    font-size: 160%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
}
.pHeb{
    margin-left: 80px;
    margin-bottom: 40px;
    font-size: 120%;
}
.contHeb{
    width: 65%;
    height: 100%;
    border-radius: 25px 25px 25px 25px;
    margin-right: 0px;
    margin-top: 40px;
    left: 0px; 
}
.pHebText{
    font-size: 80%;
}
.imgBoite{
    display: flexbox;
    width: 27%;
    height: 200px;
    background-color: white;
    padding: 1%;
    border-radius: 10%;
    min-width: 255px;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
}
.imgText{
    width: 100%;
    height:50%;
}
.padText{
    padding-bottom: 5px;
}
.imgTextPos{
    margin-top: 15px;
    margin-left: 20px;
}
.cCont1{
    margin-left: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.cCont2{
    margin-left: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
} 
.imgHeb:hover{
    cursor: pointer;
    /* L'image est grossie de 25% */
-webkit-transform:scale(1.25); /* Safari et Chrome */
-moz-transform:scale(1.25); /* Firefox */
-ms-transform:scale(1.25); /* Internet Explorer 9 */
-o-transform:scale(1.25); /* Opera */
transform:scale(1.25);
}
.imgHeb{
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
/* Populaire */
.boitePop{
    width: 30%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    margin-right: 30px;
    margin-top: 40px;
    min-height: 690px;
    min-width: 400px;
    
}
.imgBoitePop{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: 135px;
    min-width: 200px;
    background-color: white;
    padding: 1%;
    border-radius: 25px 25px 25px 25px;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 30px;
}
.imgPop{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    justify-content: start;
}
.imgPop:hover{
    cursor: pointer;
    /* L'image est grossie de 25% */
-webkit-transform:scale(1.25); /* Safari et Chrome */
-moz-transform:scale(1.25); /* Firefox */
-ms-transform:scale(1.25); /* Internet Explorer 9 */
-o-transform:scale(1.25); /* Opera */
transform:scale(1.25);
}
.imgTextPop{
    width: 100%;
    height:100%;
    display: inline-flex;
}
.imgTextPosPop{
    display: inline-flex;
    justify-content: flex-start;
}
.h3Pop{
    display: flex;
    font-size: 1.8rem;
    margin-left: -30px;
    padding-bottom: 10px;

}
.pPopText{
    font-size: 80%;
    margin-top: -20px;
}
.padTextPop{
    padding-left: 20px;
    margin-top: -20px;
}
.etoilePop{
    display: inline-flex;
    justify-content: start;
    margin-left: -55px;
    margin-top: 25px;
    
}
.iconePop{
    
    justify-content: flex-end;
}
/* activités */ 

.conAct{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.imgBoiteActA{
    
    display: flex;
    width: 100%;
    height: 135px;
    min-width: 200px;
    border: #F2F2F2 1px solid;  
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 40px;
    min-height: 445px;
    
}
.imgBoiteActB{
    
    display: flex;
    width: 100%;
    height: 250px;
    min-width: 200px;
    border: #F2F2F2 1px solid;  
    border-radius: 25px 25px 25px 25px; 
    margin-top: -10%;
    margin-bottom: 15%;
    
}
.imgBoiteActC{
    
    display: flex;
    width: 100%;
    height: 135px;
    min-width: 200px;
    border-radius: 25px 25px 25px 25px;
    min-height: 30%;
    border: #F2F2F2 1px solid;     
}
.imgBoiteActD{
    
    display: flex;
    width: 100%;
    height: 135px;
    min-width: 200px;
    border-radius: 25px 25px 25px 25px;
    min-height: 200px;
    margin-top: -13%; 
    margin-bottom: 10%;
    border: #F2F2F2 1px solid;  
}
.imgBoiteActD1{
    
    display: flex;
    width: 100%;
    height: 135px;
    min-width: 200px;
    border-radius: 25px 25px 25px 25px;
    min-height: 200px;
    border: #F2F2F2 1px solid;     
}
.imgAct:hover{
    cursor: pointer;
    /* L'image est grossie de 25% */
-webkit-transform:scale(1.25); /* Safari et Chrome */
-moz-transform:scale(1.25); /* Firefox */
-ms-transform:scale(1.25); /* Internet Explorer 9 */
-o-transform:scale(1.25); /* Opera */
transform:scale(1.25);
}
.imgAct{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    
}
/* taille de la photo */
.imgTextAct{ 
        width: 100%;
        height:80%;
}
.imgTextActA{ 
    width: 100%;
    height:90%;
}
.imgTextActC{ 
    width: 100%;
    height:70%;
}
/* */
.sectAct{
    display: flex;
    width: 100%;
    padding-top: 50px;
    flex-wrap: wrap;  
}
.imgTextPosAct{
    margin-left: 30px;
    padding-top: -10px;
}

/* footer */
footer{
   width: 100%;
}
.proposFoot{
    margin-left: 80px;
}
.pFoot{
    font-size: small;
}
.contFoot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* responsive */ 
@media screen and (max-width: 980px){
    .conAct{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}
@media screen and (max-width: 420px)  {
    .contFoot{
        display: flex;
        flex-direction: column;
    }
    .proposFoot{
        margin-left: 0px;
    }
    .contFoot{
        margin-left: 30px;
    }
    .conAct{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .imgAct:hover{
        cursor: pointer;
        /* L'image est grossie de 10% */
    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);
    }
    .imgTextActA{ 
        width: 100%;
        height:80%;
    }
    .imgBoiteActA{
        min-height: 200px;
    }
    .imgBoiteActC{
        min-height: 200px;
    }
    .sectAct{
        margin-left: 10px;
        width: 90%;
        padding-bottom: 30px;
    }
    .h3Pop{
        margin-left: -20px;
    }
    .contHeb{
        background: none;
        margin-left: 20px;
        
    }
    .imgHeb{
        min-height: 150px;
        width: 100%;
    }
    .imgBoite{
        padding-left: 0px;
        width: 100%;
        max-width: 410px;
        min-width: 380px;
        min-height: 250px;
    }
    .pHeb{
        margin-left: -50px;
    }
    .imgHeb:hover{
        cursor: pointer;
        /* L'image est grossie de 10% */
    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);
    }
    .h3Heb{
        margin-left: -50px;
        font-size: 20px;
    }
    .imgPop:hover{
        cursor: pointer;
        /* L'image est grossie de 10% */
    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);
    }
    .boitePop{
        min-width: 400px;
        margin: -50px;
        min-height: 250px;
        width: 100%;
        order: -1;
    }
    .contInfo{
        margin-left: 20px;
    }
    .infoPara{
        font-size: 12px;
    }
    
    .cFiltre{
        justify-content: start;
        
    }
    .iconeRecherche{
    display: flex;
    width: 50px;
    height: 48px;
    background-color: #0065fc;
    color: white;
    border-radius: 20px 20px 20px 20px;
    align-items: center;
    justify-content: center;
    }
    #ButtonSearch{
        display: none;
    }
    .MargSearch{
        margin-left: -55px;
    }
    .iconeRecherche:hover{
        background-color: #DEEBFF;
        color: black;
        font-weight: bolder;
        border: #F2F2F2 2px solid;
    }
    .IcSearch{
        font-size: 18px;
    }
    
}

